@model MealPlanner.Models.Meal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Meal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MealCompositions)
        </dt>

        <dd>
            <table class="table table-striped">
                <tr>
                    <th>Meal</th>
                    <th>Food</th>
                    <th>Food Size</th>
                    <th>Ingredient</th>
                    <th>Ingredient Size</th>
                </tr>
                @foreach (var item in Model.MealCompositions)
                {
                    <tr>
                        <td>@item.Meal.Name</td>
                        <td>@(item.Food == null ? "" : item.Food.Name)</td>
                        <td>@item.FoodSize</td>
                        <td>@(item.Ingredient == null ? "" : item.Ingredient.Name)</td>
                        <td>@item.IngredientSize</td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
